* {
  margin: 0;
  padding: 0;
}

.section-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:space-evenly;
  background-color: #d3d3d3;
}

.logo {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
}

.footer {
  background: black;
  text-align: center;
  color: blanchedalmond;
}

.area {
  position: relative;
  left: auto;
  top: auto;
  width: 320px;
  height: auto;
}

.area-2 {
  position: relative;
  left: auto;
  top: auto;
  width: 320px;
  height: auto;
}


#formulario-dois {
  display: flex;
  flex-direction: column;
}

#formulario {
  display: flex;
  flex-direction: column;
}

fieldset {
  width: 250px;
  background: linear-gradient(black, darkblue);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 50px;
  color: #fff;
  align-items: center;
  line-height: 50px;
}

legend {
  font-style: italic;
  font-family: “Segoe UI”, ”Arial”, ”Times New Roman”;
  color: white;
  background-color: black;
  font-size: x-large;
  border-style: dotted;
}

#formulario input.campo_nome {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario input.campo_email {
  position: auto;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario input.campo_tel {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario input.campo_end {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario input.campo_CPF {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

.btn-submit {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, orangered, orange);
  cursor: pointer;
}

.area-2 {
  position: center;
  left: auto;
  top: auto;
  width: 320px;
  height: auto;
}

#formulario-dois input.campo_name {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario-dois input.campo_cod {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario-dois input.campo_desc {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario-dois input.campo_forn {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

#formulario-dois input.campo_price {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}

.btn-submitdois {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, orangered, orange);
  cursor: pointer;
}