* {
  margin: 0;
  padding: 0;
}

.area {
  position: relative;
  left: auto;
  top: auto;
  width: 320px;
  height: auto;
}

.area-2 {
  position: relative;
  left: auto;
  top: auto;
  width: 320px;
  height: auto;
}
.section-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, white, blue);
  min-width: 550px;

}

.logo {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, white, blue);
  min-width: 550px;

}

.footer {
  background-image: linear-gradient(rgb(144, 144, 230), rgb(20, 20, 112));
  text-align: center;
  color: blanchedalmond;
  min-width: 550px;

}



fieldset {
  width: 250px;
  background: linear-gradient(blue, white);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 30px;
  color: #fff;
  align-items: center;
  line-height: 50px;
  border-style: none;
}

legend {
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background-image: linear-gradient(rgb(104, 104, 243), blue);
  font-size: x-large;
  border-style: linear;
  border-radius: 10px;
}


input {
  position: auto;
  width: 87%;
  margin: auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
}


.btn-submit {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(black, red);
  cursor: pointer;
}


.btn-submitdois {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(black, red);
  cursor: pointer;
}

.cadastrado {
  background: linear-gradient(black, red);
  color: white;
  border-style: double;
  text-align: center;
  border-width: 5px;
  border-radius: 1px;
}
